.certificate__container {
  width: 500px;
}

.certificate__card {
  border-radius: 1rem;
  margin-bottom: var(--mb-3);
  display: flex;
  justify-content: center;
}

.certificate__img {
  height: 27.5rem;
  border-radius: 2rem;
  margin-bottom: var(--mb-1);
}

.certificate__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-25);
}

.certificate__description {
  font-size: var(--small-font-size);
}

/* Swiper */
.swiper-pagination-bullet {
  background-color: var(--text-color) !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--title-color) !important;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .certificate__container {
    width: initial;
  }

  .certificate__card {
    padding: 1.25rem 1.5rem;
  }
}
